# Base Sepolia deployments
NEXT_PUBLIC_HEXCHAIN_ADDRESS=0x1CD4314b6DFb1A104A676dC6641e7b2f6722a811
NEXT_PUBLIC_REGISTRY_ADDRESS=0xb9971b716d5e5eb1e9f29352d722e11eee3d6846

# 배포 후 실제 백엔드 URL로 교체
NEXT_PUBLIC_BACKEND_URL=https://your-backend.example

# WalletConnect
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
