# HexChain 컨트랙트 주소 (anvil deploy 후 채우기)
NEXT_PUBLIC_HEXCHAIN_ADDRESS=0xe7f1725e7734ce288f8367e1bb143e90bb3f0512

# HexChainRegistry 주소 (멀티룸 기능 활성화, 비워두면 싱글룸 모드)
NEXT_PUBLIC_REGISTRY_ADDRESS=

# WalletConnect Project ID (https://cloud.walletconnect.com)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=6c433ba321999540dae0e8f1719def43
