# dependencies
node_modules/

# frontend build output
.next/

# backend build output
dist/

# env files
.env
.env.*
!.env.example
!**/.env.example
!.env.local.example
!**/.env.local.example

# logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/
